.footer {
    font-size: 12px;


}
div.ensureImg{
    margin: 24px 0px 24px 0px;
    text-align: center;
    border-top: 1px solid #e7e7e7;
    padding-top: 20px;
}
div.footerColumn{
    border-top: 1px solid #e7e7e7;
    padding: 30px 0px 0px 40px;

}
div.column{
    float: left;
    width: 20%;

}
div.column a{
    display: block;
    color: #999;
}
div.column a:hover{
    color: #C40000;
    text-decoration: none;
}
div.column span{
    font-weight: bold;
    color: #646464;
    font-size: 16px;
}
/* note
    foot2 */
.catEar {
    margin-left: 30px;
}

.copyright {
    background-color: black;
    border-top: #C40000 solid 2px;

}

.whiteLink {
    margin: 20px 20px;
}

.whiteLink a {
    color: white;
    margin: 0px 5px;
}
.slash {
    color: white;
}

.license span {
    color: #a4a4a4;
}

.license {
    margin: 0px 0px 0px 20px;
}

.copyRightYear {
    margin: 10px 10px 10px 0px;
    color: #686868;
}
.license img {
    margin: 0px 0px 15px 0px;
}
a:hover{
    color: #C40000;
    text-decoration: none;
}