@charset "UTF-8";
  /*
        part----------------
        */
        .categoryWithCarousel {
            width: 100%;
            /* 次の商品はこのdivを基に配置されるため、このdivをrelativeに設計されています。 */
            position: relative;
            margin-top: 40px;
        }

        .header {
            background-color: #dd2727;
        }

        .head {
            width: 200px;
            background-color: #c60a0a;
            color: white;
            font-weight: bold;
            font-size: 16px;
            line-height: 36px;
            margin-left: 120px;
            display: inline-block;
        }

        .head span {
            margin-left: 10px;
        }

        .rightMenu {
            display: inline-block;
        }

        .rightMenu a {
            color: white;
            font-size: 16px;
            text-decoration: none;
        }

        .rightMenu span {
            margin: 0px 20px;
        }

        .rightMenu img {
            height: 30px;
        }

        .carouselProduct {
            height: 510px;
            width: 900px;
            margin: 0px auto;
        }

        .carouselImage {
            height: 510px !important;
        }

        .carouselBackgroundDiv {
            width: 100%;
            height: 513px;
            background-color: #e8e8e8;
            position: absolute;
            top: 36px;
            z-index: -1;
        }

        /* category and rightMenu */
        .category {
            /* border: 1px solid; */
            background-color: #e2e2e3;
            position: absolute;
            margin-left: 25px;
            width: 200px;
            top: 36px;
            left: 95px;
        }

        .eachCategory {
            line-height: 28px;
            padding-left: 10px;
        }

        .eachCategory a {
            margin-left: 10px;
            color: black;
            font-size: 14px;
        }

        .eachCategory a:hover {
            color: lightskyblue;
            text-decoration: none;
        }

        .rightMenuOfCategory {
            position: absolute;
            top: 36px;
            margin-left: 320px;
            /* border: 1px solid; */
            background-color: white;
            width: 800px;
            height: 513px;
        }

        .eachRow {
            margin: 20px 80px 20px 80px;
        }

        .rowBelow {
            margin-top: 20px;
            border-bottom-style: dashed;
            border-width: 1px;
            border-color: #e7e7e7;
        }

        .eachRow a:hover {
            color: #c40000;
            text-decoration: none;
        }

        .eachRow a {
            color: #999;
            margin-right: 10px;
            font-size:14px;
        }

        /* each categoryProduct */
        .categoryProduct {
            background-color: #f5f5f5;
            padding: 50px 10px 50px 10px;
            max-width: 1013px;
            margin:20px auto;
        }

        .eachCategoryProduct {
            margin-bottom: 40px;
        }

        .productItem {
            float: left;
            width: 189px;
            height: 285px;
            background-color: white;
            margin: 8px 4px;
            border: 1px white solid;
        }

        .productItemInfo {
            display: block;
            color: #666666;
            font-size: 12px;
            padding: 14px;
        }

        .productItemPrice {
            color: red;
            font-size: 16px;
            padding-left: 10px;
        }

        .productItemImg {
            width: 189px;
            height: 185px;

        }

        .productItem img:hover {
            opacity: 0.7;
        }

        .leftMark {
            display: inline-block;
            width: 5px;
            height: 20px;
            background-color: #19c8a9;
            vertical-align: top;
        }

        .categoryName {
            font-weight: bold;
            font-size: 16px;
            color: #646464;
            margin-left: 30px;
        }

        .endPng {
            display: block;
            margin: auto;

        }
