@charset "UTF-8";
        /* top */
        body {
			font-size:12px;
            min-width: 1024px;
        }

        a {
            color: #999;
        }

        .redColor {
            color: #C40000 !important;
        }

        .top {
            background-color: #f2f2f2;
            padding-top: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid #e7e7e7;
        }

        .top span,
        .top a {
            color: #999;
            margin: 0px 10px 0px 10px;
        }

        .top a:hover {
            color: #C40000;
            text-decoration: none;
        }

        /* search */
        div.searchDiv {
            background-color: #C40000;
            width: 400px;
            margin: 50px auto;
            padding: 1px;
            height: 40px;
            /* display: inline-block; */
        }

        div.searchDiv input {
            width: 275px;
            border: transparent;
            height: 36px;
            margin: 1px;
            outline: none;

        }

        img.logo {
            /* display: inline-block; */
            position: absolute;
            left: 0px;
            top: 30px;
        }

        div.searchDiv button {
            width: 116px;
            border: transparent;
            background-color: #C40000;
            color: white;
            font-size: 20px;
            font-weight: bold;
            position: relative;
            top: 2px;
            /* height: 33px; */
        }

        div.searchBelow {
            margin: 5px 0px;
        }

        div.searchBelow a {
            margin: 0px 20px 0px 0px;
        }

        a {
            color: #999;
        }

        a:hover {
            color: #C40000;
            text-decoration: none;
        }

        div.searchBelow span {
            margin: 0px 20px 0px 0px;
            color: #999;
        }